[package]
name = "mini-mcmc"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = {version="0.8", features=["small_rng"]}
rand_distr = "0.4"
nalgebra = "0.33"
rayon = "1.5"
indicatif = "0.17"
num-traits = "0.2"
csv = {version="1.3", optional=true}
arrow = {version="54.1", optional=true}
parquet = {version="54.1", optional=true}

[features]
default = ["csv", "arrow", "parquet"]
csv = ["dep:csv"]
arrow = ["dep:arrow"]
parquet = ["dep:parquet"]

[dev-dependencies]
plotters = "0.3"
kolmogorov_smirnov = "1.1.0"
tempfile = "3.16"

[[example]]       
name = "demo" 

[profile.dev]
debug = true
